<!DOCTYPE html>
<html>
<head>
    <title>Add User</title>
</head>
<body>
<h2>Add a New User</h2>
<form action="/book-management-servlet-app/UserController?action=addUser" method="post">
    <label>Name:</label>
    <input type="text" name="uname" required><br><br>

    <label>Email:</label>
    <input type="email" name="email" required><br><br>

    <input type="submit" value="Add User">
</form>
<br>
<div>
    <button onclick="location.href='/book-management-servlet-app/index.html'">Back to Home</button>
</div>
</body>
</html>