<!DOCTYPE html>
<html>
<head>
  <title>Add Book</title>
</head>
<body>
<h2>Add a New Book</h2>
<form action="/book-management-servlet-app/AddBookController" method="post">
  <label>Title:</label>
  <input type="text" name="title" required><br><br>

  <label>Author:</label>
  <input type="text" name="author" required><br><br>

  <input type="submit" value="Add Book">
</form>
<br>
<div>
  <button onclick="location.href='/book-management-servlet-app/index.html'">Back to Home</button>
</div>
</body>
</html>
