<!DOCTYPE html>
<html>
<head>
    <title>Admin Homepage</title>
</head>
<body>

<h1>Welcome to Admin (Librarian) Homepage</h1>
<hr>

<h2>Operations</h2>
<p>
    <strong>Book:</strong>
    <button onclick="location.href='/book-management-servlet-app/views/add-book.html'">Add Book</button>
    <button onclick="location.href='/book-management-servlet-app/BookController?action=viewBooks'">View Books</button>
    &nbsp; &nbsp;

    <strong>User:</strong>
    <button onclick="location.href='/book-management-servlet-app/views/add-user.html'">Add User</button>
    <button onclick="location.href='/book-management-servlet-app/UserController?action=viewUsers'">View Users</button>
    <br><br>
</p>

<script>
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.get('login') === 'success') {
        alert("Login successful! Welcome Admin.");
        history.replaceState(null, "", window.location.pathname);
    }
</script>

<br>
<div>
    <button onclick="location.href='/book-management-servlet-app/index.html'">Back to Home</button>
</div>
</body>
</html>
