<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <!-- Register Admin Controller -->
  <servlet>
    <servlet-name>RegisterAdminController</servlet-name>
    <servlet-class>com.vbc.servlet.management.controller.RegisterAdminController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>RegisterAdminController</servlet-name>
    <url-pattern>/RegisterAdminController</url-pattern>
  </servlet-mapping>

  <!-- Login Admin Controller -->
  <servlet>
    <servlet-name>LoginAdminController</servlet-name>
    <servlet-class>com.vbc.servlet.management.controller.LoginAdminController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoginAdminController</servlet-name>
    <url-pattern>/LoginAdminController</url-pattern>
  </servlet-mapping>


  <!-- Add Book Controller -->
  <servlet>
    <servlet-name>AddBookController</servlet-name>
    <servlet-class>com.vbc.servlet.management.controller.AddBookController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AddBookController</servlet-name>
    <url-pattern>/AddBookController</url-pattern>
  </servlet-mapping>

  <!-- View Book Controller -->
  <servlet>
    <servlet-name>ViewBookController</servlet-name>
    <servlet-class>com.vbc.servlet.management.controller.ViewBookController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ViewBookController</servlet-name>
    <url-pattern>/ViewBookController</url-pattern>
  </servlet-mapping>

  <!-- Delete Book Controller -->
  <servlet>
    <servlet-name>DeleteBookController</servlet-name>
    <servlet-class>com.vbc.servlet.management.controller.DeleteBookController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DeleteBookController</servlet-name>
    <url-pattern>/DeleteBookController</url-pattern>
  </servlet-mapping>

  <!-- Update Book Controller -->
  <servlet>
    <servlet-name>UpdateBookController</servlet-name>
    <servlet-class>com.vbc.servlet.management.controller.UpdateBookController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UpdateBookController</servlet-name>
    <url-pattern>/UpdateBookController</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UpdateBook</servlet-name>
    <jsp-file>/views/update-book.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>UpdateBook</servlet-name>
    <url-pattern>/views/update-book.jsp</url-pattern>
  </servlet-mapping>

  <!-- Add User Controller -->
  <servlet>
    <servlet-name>AddUserController</servlet-name>
    <servlet-class>com.vbc.servlet.management.controller.AddUserController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AddUserController</servlet-name>
    <url-pattern>/AddUserController</url-pattern>
  </servlet-mapping>

  <!-- View User Controller -->
  <servlet>
    <servlet-name>ViewUserController</servlet-name>
    <servlet-class>com.vbc.servlet.management.controller.ViewUserController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ViewUserController</servlet-name>
    <url-pattern>/ViewUserController</url-pattern>
  </servlet-mapping>

  <!-- Delete User Controller -->
  <servlet>
    <servlet-name>DeleteUserController</servlet-name>
    <servlet-class>com.vbc.servlet.management.controller.DeleteUserController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DeleteUserController</servlet-name>
    <url-pattern>/DeleteUserController</url-pattern>
  </servlet-mapping>

  <!-- Update User Controller -->
  <servlet>
    <servlet-name>UpdateUserController</servlet-name>
    <servlet-class>com.vbc.servlet.management.controller.UpdateUserController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UpdateUserController</servlet-name>
    <url-pattern>/UpdateUserController</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UpdateUser</servlet-name>
    <jsp-file>/views/update-user.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/views/update-user.jsp</url-pattern>
  </servlet-mapping>

</web-app>
